#flux-navigation {
	z-index: 10;
	position:relative;
	width: 130px;
}

#flux-capacitor {
	border-right: 3px solid #222;
	min-height: 10000px;
	position: absolute;
	right: 0;
	margin-left: 10px;
}

#flux-navigation #flux-time-selectors {
	position: absolute;
	top: 0;
	background-color: rgba(255, 255, 255, 0.6);
	padding-top: 10px;
	padding-bottom: 10px;
}

#flux-navigation #flux-time-selectors .flux-year-selector {
	float:left;
	margin-left: 15px;
}

#flux-navigation #flux-time-selectors .flux-month-selector {
	margin-left:70px;
	width: 50px;
}

#flux-navigation #flux-time-selectors ul {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

#flux-navigation #flux-time-selectors .flux-year-selector ul li,
#flux-navigation #flux-time-selectors .flux-month-selector ul li {
	list-style-type: none;
	text-align: right;
	color: rgba(85, 85, 85, .5);
}

#flux-navigation #flux-time-selectors .flux-year-selector ul li a,
#flux-navigation #flux-time-selectors .flux-month-selector ul li a {
	color: #555;
}

#flux-navigation #flux-time-selectors .flux-year-selector ul li span,
#flux-navigation #flux-time-selectors .flux-month-selector ul li span {
	color: rgba(85, 85, 85, 0);
}

#flux-navigation #flux-time-selectors .flux-year-selector ul li a.flux-year-active,
#flux-navigation #flux-time-selectors .flux-month-selector ul li a.flux-month-active {
}

#flux-navigation #flux-time-selectors .flux-year-selector ul li a.flux-year-active span,
#flux-navigation #flux-time-selectors .flux-month-selector ul li a.flux-month-active span {
	color: rgba(85, 85, 85, 1);
}